joblib
lgg
pandas
matplotlib
tafrigh[wit]
librosa
transformers
pytube 
tqdm
audiosegment
pyworld
sentencepiece
pyyaml
gdown
penn
uvicorn
fastapi
python-multipart
streamlit
statsmodels
anthropic
sentence-transformers
polars
whisper_timestamped
deepfilternet
speechbrain